.chat-container
    height: 480px
    width: 300px
    background: tan
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    box-shadow: 2px 2px 10px gray
    
    .messages-window
        height: 330px
        width: 250px
        background: white
        box-shadow: 2px 2px 10px gray
        word-wrap: break-word
        padding: 10px
        overflow: hidden
        overflow-y: scroll
        .gm
            text-align: start
            padding: 2px
            border-radius: 4px
           
    
    .input-field
        height: 70px
        width: 250px
        border-style: none
        box-shadow: inset 2px 2px 10px gray
        padding: 10px

        
