@import '../_mixins'

.landing-page
    text-align: center
    background-image: $darken, $landing-backgroundimg
    height: 100vh
    display: flex
    flex-direction: column
    align-items: center

.login
    position: relative
    top: 11.5rem
    padding: 5px 2px 15px 2px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    background: $black
    opacity: .8
    height: 13rem
    width: 20%
    

#login-welcome
    color: $white

    
#WelcomeDiv
    height: 400px
    display: flex
    flex-direction: column


.input
    height: 1.5rem
    width: 15rem
    

.btn
    height: 1.5rem
    width: 15rem
    

#title
    @include flexCol
    position: relative
    top: 10rem
    height: 10rem
    width: 100%
    color: $black
    padding: 1rem 2rem
    background: white




