@import '../_mixins'
@import '../_keyframes'



.lb-wrapper
  @include flexCol
  position: relative
  margin-top: 70px
  padding: 15px
  height: 150px
  width: 800px
  overflow: hidden
  h1, h2, p
    color: $white
  h2 
    font-size: 20px
  .Leaderboard
    overflow: hidden
    @include flexRow
    .person
      width: 200px
      position: relative
      margin-left: 80px
      animation: newsFeed 25s linear infinite
    .blocker
      position: relative
      bottom: 20px
      height: 70px
      width: 120px
    .block_left
      background-color: $black
    .block_right  
      background-color: $black 
      z-index: 10


    
      

      
     
    

 
  


