@import '../_mixins'
  
.lb-wrapper
  @include card
  @include flexCol
  position: relative
  bottom: 100px
  padding: 15px
  width: 100%
  h1, h2, p
    color: $white
  h2 
    font-size: 20px
  .Leaderboard
    @include flexRow
    .person
      margin-left: 9rem
    

 
  


