.move_list
    background: tan
    width: 170px
    height: 200px
    overflow: scroll
    overflow-x: hidden
    box-shadow: 0px 5px 15px gray
    &::-webkit-scrollbar
        width: 50px
   
    
    .move
        background: lightgray
        width: 70px
        display: inline-block
        text-align: center
        &:nth-child(odd)
            float: right