.outerBlock
  // background-color: pink
  @include  flexCol
  
.profile
  @include flexRow
  flex-direction: row-reverse
  justify-content: space-between
  align-items: start 
  // background-color: green
  margin-top: 120px
  width: 1325px

  
  
  .profile_section  
    // background-color: yellow

  