.profile
  @include flexRow
  flex-direction: row-reverse
  justify-content: space-evenly
  align-items: start 
  // background-color: green
  margin-top: 120px
  .emptySpace
    width: 150px
    // background-color: pink
  .profile_section  
    // background-color: pink

  