.userInfoBlock
  @include solidCard
  @include flexRow
  justify-content: space-evenly
  padding: 20px 0px
  border-radius: 2px
  // position: relative
  top: 50px
  left: 50px
  width: 450px
  img 
    width: 150px
  .userName
    color: $white
    .sub_userName
      font-size: 20px
      color: tan 
  #updateBtn
    width: 100px
    margin: 10px
  .UI_Content
    @include flexCol
    // background-color: pink
  
  
