// colors
$sienna: #906B42
$saddle-brown: #56320C
$olive-green: #6B4C2D
$dark-olive-green: #47301E
$black: #141414
$white: #fbfafa
$dark_sea_green: #c4ccc4
$darker_sea_gree: #acb4ac
$light_steel_blue: #e3e4e4
$slate_grey: #5f6061
$light_slate_grey: #97999a

// linear-gradients
$darken: linear-gradient( to bottom left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2) )

// imgs
$landing-backgroundimg: url('../images/profile2.jpg')
$profile-backgroundimg: url('../images/profile.jpg')
$gameboard-backgroundimg: url('../images/gameboard.jpg')
$logo-left: url('../images/2knight_white_left.png')
$logo-right: url('../images/2knight_white_right.png')
$marble: url('../images/marble1.jpg')



