* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit; }

BODY {
  min-height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif; }

H2 {
  margin: 8px 0; }

P {
  line-height: 1.4;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif; }

h1, h2, h2 {
  color: #141414;
  font-family: Arial, Helvetica, sans-serif; }

.landing-page {
  text-align: center;
  background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../images/marble1.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .landing-page .rapper {
    background-color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    justify-content: space-between;
    border-radius: 50;
    height: auto; }

.login {
  position: relative;
  padding: 25px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 350px;
  width: 19rem; }

#login-welcome {
  color: #fbfafa; }

.input {
  height: 1.5rem;
  width: 15rem;
  border-style: none;
  border-bottom: 1px #fbfafa solid;
  background: none;
  text-align: start;
  color: #fbfafa; }
  .input::placeholder {
    color: tan; }

button {
  height: 1.5rem;
  width: 15rem;
  background-image: linear-gradient(to bottom left, #525354, #fbfafa);
  border-style: none;
  color: #141414;
  border-radius: 2px; }
  button:hover {
    background-image: linear-gradient(to top right, #525354, tan);
    border: solid grey 1px; }

#title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 200px;
  width: 800px;
  padding: 1rem 2rem; }
  #title h1 {
    color: #fbfafa;
    font-weight: 100px;
    font-size: 100px; }
  #title .logo-img {
    width: 200px;
    height: 135px;
    background-size: cover;
    margin: 20px; }
  #title .logo-left {
    position: relative;
    right: 16px;
    background-image: url("../images/2knight_white_left.png");
    background-size: cover; }
  #title .logo-right {
    position: relative;
    background-image: url("../images/2knight_white_right.png");
    background-size: cover; }
  #title img {
    z-index: 10; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes newsFeed {
  from {
    left: 1900px; }
  to {
    left: -1900px; } }

@keyframes shoeMeTheIcons {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.outerBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: start;
  margin-top: 120px;
  width: 1325px; }
  .profile .profile_section .sun_profile_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start; }
    .profile .profile_section .sun_profile_section .hiding {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 350px;
      flex-wrap: wrap;
      opacity: 0; }
      .profile .profile_section .sun_profile_section .hiding img {
        border: solid #141414 1px;
        width: 80px;
        margin: 0px 5px;
        margin-bottom: 10px; }
    .profile .profile_section .sun_profile_section .imageOpps {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 350px;
      flex-wrap: wrap;
      animation: shoeMeTheIcons 1s linear; }
      .profile .profile_section .sun_profile_section .imageOpps img {
        border: solid #141414 1px;
        width: 80px;
        margin: 0px 5px;
        margin-bottom: 10px; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes newsFeed {
  from {
    left: 1900px; }
  to {
    left: -1900px; } }

@keyframes shoeMeTheIcons {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.register {
  position: relative;
  height: 350px; }

.toggled-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 100%;
  color: white; }
  .toggled-view input {
    border-style: none;
    background: none;
    border-bottom: solid 1px #fbfafa;
    color: #fbfafa;
    text-align: start;
    width: 15rem;
    height: 1.5rem; }
    .toggled-view input::placeholder {
      color: tan; }

button {
  width: 15rem;
  height: 1.5rem;
  background-image: linear-gradient(to bottom left, #525354, #fbfafa);
  border-style: none;
  color: #141414;
  border-radius: 2px; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes newsFeed {
  from {
    left: 1900px; }
  to {
    left: -1900px; } }

@keyframes shoeMeTheIcons {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.lb-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 70px;
  padding: 15px;
  height: 150px;
  width: 800px;
  overflow: hidden;
  background: #141414; }
  .lb-wrapper h1, .lb-wrapper h2 {
    color: #fbfafa; }
  .lb-wrapper p {
    color: #d9c09e; }
  .lb-wrapper h2 {
    font-size: 20px; }
  .lb-wrapper .Leaderboard {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .lb-wrapper .Leaderboard .person {
      width: 200px;
      position: relative;
      margin-left: 80px;
      animation: newsFeed 25s linear infinite; }
    .lb-wrapper .Leaderboard .blocker {
      position: relative;
      bottom: 20px;
      height: 70px;
      width: 120px; }
    .lb-wrapper .Leaderboard .block_left {
      background-color: #141414; }
    .lb-wrapper .Leaderboard .block_right {
      background-color: #141414;
      z-index: 10; }

.the_BFB {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  background-image: url("../images/marble1.jpg");
  padding-top: 50px; }

.ML_rapper {
  background-color: tan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 220px;
  justify-content: space-around;
  box-shadow: 2px 2px 10px gray; }
  .ML_rapper .resign_btn {
    width: 100px; }

.move_list {
  background: #fbfafa;
  width: 170px;
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  box-shadow: 2px 2px 10px gray; }
  .move_list .move {
    background: lightgray;
    width: 70px;
    display: inline-block;
    text-align: center; }
    .move_list .move:nth-child(even) {
      float: right; }

.chat-container {
  height: 480px;
  width: 300px;
  background: tan;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 2px 10px gray; }
  .chat-container .messages-window {
    height: 330px;
    width: 250px;
    background: white;
    box-shadow: 2px 2px 10px gray;
    word-wrap: break-word;
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll; }
    .chat-container .messages-window .gm {
      text-align: start;
      background-color: gray;
      margin-bottom: 7px;
      padding: 5px;
      border-radius: 4px; }
      .chat-container .messages-window .gm:nth-child(even) {
        text-align: end;
        background-color: #b3b3b3; }
  .chat-container .input-field {
    height: 70px;
    width: 250px;
    border-style: none;
    box-shadow: inset 2px 2px 10px gray;
    padding: 10px; }

.navBod {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #141414; }

.leftNav {
  width: 10px;
  display: flex;
  align-items: center; }
  .leftNav .navH2 {
    color: #fbfafa;
    font-size: 40px;
    transform: rotate(20deg);
    margin-right: 20px; }

.navImg {
  margin-right: -40px;
  height: 80px; }

.navH1 {
  color: #fbfafa;
  font-size: 40px;
  margin-left: 40px; }

.navH1:nth-child(odd) {
  color: tan; }

.navMenu {
  display: flex; }
  .navMenu .aboutLink {
    color: #fbfafa;
    margin-right: 10px;
    font-size: 20px; }
  .navMenu .logoutBtn {
    background: none;
    border-style: none;
    width: 80px;
    color: tan;
    font-size: 18px; }

#about-page {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-top: 70px;
  background-image: url("../images/marble1.jpg");
  overflow: hidden; }

#checked-description {
  background: #eaeaed linear-gradient(to bottom left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  padding: 4px 7px;
  box-shadow: 0px 0px 5px grey; }

#about-checked {
  background: #eaeaed linear-gradient(to bottom left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1250px;
  align-item: center;
  padding: 10px;
  box-shadow: 2px 2px 5px grey;
  padding: 15px 20px; 
}

  #about-checked p {
    text-indent: 50px; }

#subtitle {
  color: black; }

#team-mate-section {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 1300px; }

.card-container {
  cursor: pointer;
  height: 400px;
  perspective: 800;
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  align-items: space-evenly; }

.img-container {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.team-mate-img {
  height: 100%;
  width: 80%;
  border: 8px tan solid;
  box-shadow: 2px 2px 2px; }

.team-mate-bio {
  background: tan;
  margin: 5px;
  padding: 5px;
  width: 100%; }

.card {
  border: 1px black solid;
  border-radius: 3px;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%; }

.card:hover {
  transform: rotateY(180deg); }

.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between; }

.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%; }

.card .back {
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
  padding: 10px 10px 0 10px; }

.card {
  background: #eaeaed linear-gradient(to bottom left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)); }

.team-mate-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.linkedin-img {
  height: 50px;
  width: 50px; }

.github-img {
  height: 44px;
  width: 44px; }

a {
  text-decoration: none;
  color: #141414; }

.portfolio-text {
  font-size: 20px; }

.team-mate-contact a {
  display: flex; }

.userInfoBlock {
  background-color: #141414;
  box-shadow: 2px 2px 3px #141414;
  color: #fbfafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0px;
  border-radius: 2px;
  position: relative;
  width: 450px;
  z-index: 10; }
  .userInfoBlock img {
    width: 135px;
    margin: 0px 20px; }
  .userInfoBlock .userName {
    color: #fbfafa; }
    .userInfoBlock .userName .sub_userName {
      font-size: 20px;
      color: tan; }
  .userInfoBlock #updateBtn {
    width: 100px;
    margin: 10px; }
  .userInfoBlock .UI_Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .userInfoBlock .test {
    height: 50px;
    width: 50px;
    background-color: blue; }

.arenaBlock {
  background-color: #141414;
  box-shadow: 2px 2px 3px #141414;
  color: #fbfafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 450px; }
  .arenaBlock .arena_btn {
    margin-top: 20px; }
  .arenaBlock h3 {
    color: #fbfafa;
    margin-bottom: 20px; }

#potOppsBlock {
  background-color: #e4dede;
  box-shadow: 0px 0px 10px #fbfafa;
  color: #141414;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: start;
  height: 282px;
  overflow: scroll;
  overflow-x: hidden; }
  #potOppsBlock .potentialOpponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #f0ecec;
    box-shadow: 2px 2px 3px gray;
    margin: 10px 20px;
    padding: 10px 0px;
    width: 325px;
    height: 70px; }

.App {
  background: url("../images/marble1.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    -o-background-size-background-size: cover; }
