* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit; }

BODY {
  min-height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif; }

H2 {
  margin: 8px 0; }

P {
  line-height: 1.4;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif; }

h1, h2, h2 {
  color: #141414;
  font-family: Arial, Helvetica, sans-serif; }

.landing-page {
  text-align: center;
  background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../images/marble1.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .landing-page .rapper {
    background-color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    justify-content: space-between;
    border-radius: 50;
    height: auto; }

.login {
  position: relative;
  padding: 25px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 350px;
  width: 19rem; }

#login-welcome {
  color: #fbfafa; }

.input {
  height: 1.5rem;
  width: 15rem;
  border-style: none;
  border-bottom: 1px #fbfafa solid;
  background: none;
  text-align: start;
  color: #fbfafa; }
  .input::placeholder {
    color: #fbfafa; }

.btn {
  height: 1.5rem;
  width: 15rem;
  background-image: linear-gradient(to bottom left, #525354, #fbfafa);
  border-style: none;
  color: #141414;
  border-radius: 2px; }

#title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 200px;
  width: 800px;
  padding: 1rem 2rem; }
  #title h1 {
    color: #fbfafa;
    font-weight: 100px;
    font-size: 100px; }
  #title .logo-img {
    width: 200px;
    height: 135px;
    background-size: cover;
    margin: 20px; }
  #title .logo-left {
    position: relative;
    right: 16px;
    background-image: url("../images/2knight_white_left.png");
    background-size: cover; }
  #title .logo-right {
    position: relative;
    background-image: url("../images/2knight_white_right.png");
    background-size: cover; }
  #title img {
    z-index: 10; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes newsFeed {
  from {
    left: 1900px; }
  to {
    left: -1900px; } }

.register {
  position: relative;
  height: 350px; }

.toggled-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 100%;
  color: white; }
  .toggled-view input {
    border-style: none;
    background: none;
    border-bottom: solid 1px #fbfafa;
    color: #fbfafa;
    text-align: start;
    width: 15rem;
    height: 1.5rem; }
    .toggled-view input::placeholder {
      color: #fbfafa; }

button {
  width: 15rem;
  height: 1.5rem;
  background-image: linear-gradient(to bottom left, #525354, #fbfafa);
  border-style: none;
  color: #141414;
  border-radius: 2px; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes newsFeed {
  from {
    left: 1900px; }
  to {
    left: -1900px; } }

.lb-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 70px;
  padding: 15px;
  height: 150px;
  width: 800px;
  overflow: hidden;
  background: #141414; }
  .lb-wrapper h1, .lb-wrapper h2, .lb-wrapper p {
    color: #fbfafa; }
  .lb-wrapper h2 {
    font-size: 20px; }
  .lb-wrapper .Leaderboard {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .lb-wrapper .Leaderboard .person {
      width: 200px;
      position: relative;
      margin-left: 80px;
      animation: newsFeed 25s linear infinite; }
    .lb-wrapper .Leaderboard .blocker {
      position: relative;
      bottom: 20px;
      height: 70px;
      width: 120px; }
    .lb-wrapper .Leaderboard .block_left {
      background-color: #141414; }
    .lb-wrapper .Leaderboard .block_right {
      background-color: #141414;
      z-index: 10; }

.the_BFB {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 50px; }

.move_list {
  background: tan;
  width: 170px;
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  box-shadow: 0px 5px 15px gray; }
  .move_list .move {
    background: lightgray;
    width: 70px;
    display: inline-block;
    text-align: center; }
    .move_list .move:nth-child(odd) {
      float: right; }

.chat-container {
  height: 385px;
  width: 300px;
  background: tan;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .chat-container .messages-window {
    height: 330px;
    width: 250px;
    background: white; }

.navBod {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #141414; }

.leftNav {
  width: 10px;
  display: flex;
  align-items: center; }
  .leftNav .navH2 {
    color: #fbfafa;
    font-size: 40px;
    transform: rotate(20deg);
    margin-right: 20px; }

.navImg {
  margin-right: -40px;
  height: 80px; }

.navH1 {
  color: #fbfafa;
  font-size: 40px;
  margin-left: 40px; }

.navH1:nth-child(odd) {
  color: tan; }

.navMenu {
  display: flex; }
  .navMenu .aboutLink {
    color: #fbfafa;
    margin-right: 10px;
    font-size: 20px; }
  .navMenu .logoutBtn {
    background: none;
    border-style: none;
    width: 80px;
    color: tan;
    font-size: 18px; }

.App {
  background: url("../images/marble1.jpg");
  background-size: cover; }
